{% extends "base.html" %}

{% block title %}
    Main page
{% endblock title %}

{% block content %}
    <div class="container text-center">
        <div class="row">
            {% for product in products %}
            <div class="card col-sm-4 p-5 border-0">
                <img 
                    src="/media/{{ product.image }}"
                    class="mh-100" style="width: 25vw; height: 200px;"
                    alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ product.name }}</h5>
                  <p class="card-text">Цена: {{ product.price }} p.</p>
                  <a href="/product/{{ product.id }}" class="btn btn-primary">Подробнее</a>
                </div>
              </div>
            {% endfor %} 
        </div>
    </div>
{% endblock content %}